.projects {
    max-width: 1000px;
    padding: 3em;
    margin: auto;
    text-align: center;
}

.card {
    padding: 10px;
}

.row {
    padding: 10px;
}

.card-text {
    color: #000;
    opacity: 90%;
}

@media screen and (max-width: 600px) {
    .project-column {
      width: 100%;
    }
  }