.projects {
    max-width: 1000px;
    padding: 3em;
    margin: auto;
    text-align: center;
}

.projects-row {
    margin: 8px -16px;
}

.project-column {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    float: left;
    width: 50%;
}

.project-column:hover {
    background-color: lightgray;
}

.card-item {
    padding: 40px;
}

a {
    color: #000;
}

@media screen and (max-width: 600px) {
    .project-column {
      width: 100%;
    }
  }