.sectionWrapper {
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  width: 75%;
  margin: 40px auto 60px;
  border-radius: 25px;
  padding: 10px 5px;
}

.sectionWrapper h1,
h3 {
  font-family: "Asap-Black";
}

.sectionWrapper p {
  margin: 20px auto;
  font-size: 15px;
  width: 65%;
}

@media screen and (max-width: 600px) {
  .sectionWrapper {
    width: 95%;
    padding: 10px 15px;
  }

  .sectionWrapper p {
    width: 100%;
    margin: 20px auto;
    text-align: justify;
  }
}
