@import "../../App.scss";

.aboutCard {
  color: #000;
  margin: 20px auto;
  max-width: 550px;
  text-align: left;
  border: gray 3px solid;
  padding: 20px;
  font-size: 1.1rem;

  @include media-breakpoint-down(md) {
    margin: 20px;
    font-size: 1rem;
    padding: 5px;
  }
}
