@font-face {
    font-family: "Asap-Black";
    src: url("../../fonts/Asap-Black.ttf") 
    format("truetype");
  }

.about {
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    margin-top: 30px;
}

.aboutWrapper {
    background-color: #000;
    color: #aa1414;
    width: 75%;
    margin: 0px auto 60px;
    border-radius: 25px;
    padding: 10px 5px;
}

.about h1 {
    font-family: 'Asap-Black';
}

.about p {
    margin: 20px auto;
    font-size: 15px;
    width: 65%;
}


.icon {
    font-size: 60px;
}

@media screen and (max-width: 600px) {
    .about-col {
      width: 100%;
    }

    .about p {
        margin: 20px 10px;
    }

    .icon {
        font-size: 60px;
        width: 100%;
        padding: 0;
    }

    .firebase {
        margin: 10px;
    }

  }