.home {
    display: flex;
    height: 100vh;
    background-color: #3f3f3f;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.home-name {
    color: #fff;
}

.home-desc {
    color: #fff;
}

.icons {
    color: #8b8a8b;
    font-size: 30px;
    cursor: pointer;
    margin-top: 50px;
}

.icon {
    margin: 0px 25px;
}

.fa-file {
    padding-top: 1px;
    font-size: 28px;
}

p {
    color: #cfdbd5;
    font-size: 10px;
}

.home-pointer:hover, .icons:hover {
    color: rgba(255, 0, 0, 0.35);
    transition: .5s;
}

.home-pointer {
    position: absolute;
    bottom: 10%;
    font-size: 30px;
    color: #cfdbd5;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .home {
      width: 100%;
    }
  }
