.form {
    padding-left: 5em;
    padding-right: 5em; 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.contact-container {
    padding-bottom: 3em;
}


h1 {
    text-align: center;
}
