.contact-container {
    max-width: 1000px;
    padding: 3em;
    margin: auto;
}

h1 {
    text-align: center;
}

@media screen and (max-width: 600px) {
    .contact-container {
        margin: auto;
    }
  }