@import "../../App.scss";

.testimonialCard {
  color: #000;
  margin: 20px auto;
  max-width: 550px;
  border: gray 3px solid;
  padding: 20px;
  justify-content: center;
  align-items: center;

  :global(img) {
    width: 150px;
    height: 100%;
  }

  @include media-breakpoint-down(md) {
    margin: 20px;
    font-size: 1rem;
    padding: 5px;
  }
}
