@font-face {
  font-family: "Asap-Black";
  src: url("../../fonts/Asap-Black.ttf") format("truetype");
}

.aboutWrapper {
  background-color: rgba(0, 0, 0, 0.8);
  color: #aa1414;
  box-shadow: #aa1414 5px 5px;
}

.aboutWrapper h3 {
  color: #c7c7c7;
}

.icon {
  font-size: 60px;
  color: #fff;
}

.iconsRow {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .iconsRow {
    width: 100%;
  }
}

.iconCol a {
  color: #fff;
}

.iconCol a:hover {
  color: #aa1414;
  transition: 0.5s;
  text-decoration: none;
}
