.projects {
  max-width: 1000px;
  padding: 3em;
  margin: auto;
  text-align: center;
}

.projectsWrapper {
  background-color: #aa1414;
  box-shadow: rgba(0, 0, 0, 0.8) 5px 5px;
  color: rgba(0, 0, 0, 0.8);
}

.card {
  padding-top: 1rem;
  height: 200px;
}

.card-text {
  color: #000;
  font-size: small;
  opacity: 90%;
}

.row {
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .project-column {
    width: 100%;
  }
}
